#box{
  width: 100%;
  height: 100vh;
  position: relative;
  .illustration{
    position: absolute;
    right: 20px;
    top: 50%;
    background-color: rgba(154, 205, 50, .5);
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }
}
