.dataGovernance{
  background: url('../../../assets/images/background.png') no-repeat;
  background-size: 100% 100%;
  padding-left: 30px;
  width: 100% !important;
  height: 100% !important;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  .divider {
    height: 3px;
    width: 100%;
    background-image: url('../../../assets/images/line.png');
    background-size:100% 100%;
    background-repeat: no-repeat;
    margin: 5px;
  }
  .maintitle{
    width: 100%;
    height: 50px;
    font-size: 25px;
    font-weight: bold;
    color: #4AFFFE;
    display:flex;
    justify-content: center;
    align-items: center;
  }

  .stepContainer {
    width: 100%;
    height: 90%;
    .chartsContainer {
      width: 100%;
      height: 33%;
      margin-bottom: 15px;
      padding: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .metaDataTotalCount {
        width: 48%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .num {
          border: 8px #4AFFFE solid;
          width: 160px;
          height: 160px;
          border-radius: 80px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 45px;
          .unit {
            margin-top: 20px;
            font-size: 18px;
          }
        }
        .name {
          font-size: 18px;
          color: #4AFFFE;
          margin-top: 15px;
          font-weight: 550;
        }
      }
      .chart {
        width: 48%;
        height: 100%;
      }
      .chartModel {
        width: 100%;
        height: 100%;
      }
      .dataQualityQuestion {
        width: 30%;
        height: 100%;
        .title {
          font-weight: 550;
          margin-bottom: 10px;
          font-size: 18px;
          color: #4AFFFE;
        }
        .BOX {
          color: #fff;
          height: 50px;
        }
        .slick-list{
          height: 220px !important;
          color: #bdb8b8;
        }
      }
      .dataIndex {
        width: 30%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        .name {
          font-weight: 550;
          margin-bottom: 10px;
          font-size: 18px;
          color: #4AFFFE;
        }
        .score {
          width: 200px;
          height: 200px;
          border: #4AFFFE 18px solid;
          border-radius: 100px;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 20px;
          .num {
            font-size: 50px;
          }
          .unit {
            margin-top: 20px;
            font-size: 20px;
          }
        }
      }
    }
  }
}

