.Statistics{
  color: white;
  display: flex;
}
.stat {
  margin: 0 5.5px;
  padding: 5px;
  height: 80px;
  width: 225px;
  background: url('../../../assets/images/top.png') no-repeat;
}
h2{
  color: #00d5ff;
  text-align: center;
}
h1{
  color: #fff;
  text-align: right;
  text-align: center
}
