.Statistics{
  color: #4AFFFE;
  display: flex;
  background: url('../../../assets/images/sourcebg.gif') no-repeat;
  background-size: 97% 100%;
}
.stat {
  margin: 0 5.5px;
  padding: 5px;
  height: 80px;
  width: 225px;
  background: url('../../../assets/images/top.png') no-repeat;
}
h2{
  color: #4AFFFE;
  text-align: center;
}
h1{
  color: #4AFFFE;
  text-align: right;
  text-align: center
}
