.dataSourceType{
  width: 100%;
  margin-top: 20px;
  .title {
    font-size: 22px;
    color: #4AFFFE;
    font-weight: 550;
  }
  .content {
    width: 100%;
    height: 80%;
    font-size: 18px;
    margin-top: 20px;
  }
}
