.firstIntro{
  width: 100%;
  height: 30%;
  display: flex;
  margin-top: 20px;
}
.firstIntroImg{
  width: 200px;
  // height: 200px;
}
.firstIntroText{
  margin-top: 20px;
  width: 100%;
}
.modelText{
  padding-top: 30px;
}
.secondIntroText{
  padding-left: 50px;
}
.secondIntroImg{
  width: 160px;
}
.thirdIntroImg{
  width: 180px;
}
.lockText{
  padding-top: 30px;
}
