.newsMain{
  width: 320px;
  // color: white;
  overflow: hidden;
  border-bottom:1px solid #808080;
  margin-bottom: 5px;
  .slick-list{
    height: 120px !important;
    color: #bdb8b8;
  }
}
.News{
  padding-left: 5px
}

.BOX{
  height: 25px;
  max-width: 320px;
  // background-color: green;
  margin-bottom: 5px;
  font-size: 15px;
  // font-weight: 550;
}
.newsTitleTwo{
  font-weight: 550;
  width: 320px;
  font-size: 16px;
  // font-weight: 550;
  // padding: 8px 0px;
  margin-bottom: 8px;
  color: white;
}
.newsTitle{
  font-weight: 550;
  width: 320px;
  border-bottom:1px solid #bdb8b8;
  font-size: 16px;
  // font-weight: 550;
  padding: 5px 0px;
  // margin-bottom: 5px;
  color: white;
}
.tableMain{
  height: 200px;
  max-width: 320px;
  .ant-table{
    color: #808080;
  }
  .ant-table-thead > tr > th{
    background: none;
    color: white;
  }
  .ant-table-thead > tr > th.ant-table-column-sort{
    background: none;
    color: white;
  }
  .anticon{
    color: white
  }
  a{
    background-color: white;
  }
}
