.datasource{
  background: url('../../../assets/images/background.png') no-repeat;
  // background-color: ;
  background-size: 100% 100%;
  height: 100%;
  overflow: scroll;
  padding-left: 30px;
}
.datasource::-webkit-scrollbar {display:none}
.firstPie{
  max-height: 30%;
}
.secondChart{
  max-height: 28%;
}
.ThirdChart{
  max-height: 28%;
}
.title{
  color: #4AFFFE;
  font-size: 18px;
}
